* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: aquamarine;
} */

/* shared style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;

}


/* main style */
header {
    /* background-color: ; */
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

nav {
    width: 71%;
    max-width: 1143px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    gap: 51px;
    list-style-type: none;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

/* banner section */
#banner {
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

#banner .banner-image img {
    vertical-align: middle;
    max-width: 585px;
}

/* about section */
#about {
    padding: 125px;
}

#about .about-container {
    background-color: #FFF8F3;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
}

.about-info {
    display: flex;
    justify-content: space-around;
}

.info-card p {
    font-size: 20px;
    color: #757575;
    /* line-height: 30px; */
}
.info-card h4 {
    font-size: 20px;
    /* line-height: 30px; */

}