* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: aquamarine;
} */

/* shared style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    font-size: 15px;
    font-weight:bold;
}

/* main style */
header {
    background-color: #e0ac87;
    padding-top: 50px;
}

nav {
    width: 71%;
    max-width: 1143px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    gap: 10px;
    list-style-type: none;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}