* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: aquamarine;
} */

/* shared style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;

}

.text-center {
    text-align: center;
    margin-top: 50px;
}


/* main style */
header {
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
}

nav {
    width: 71%;
    max-width: 1143px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    gap: 51px;
    list-style-type: none;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

/* banner section */
#banner {
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

#banner .banner-image img {
    vertical-align: middle;
    max-width: 585px;
}

/* about section */
#about {
    padding: 130px;
}

#about .about-container {
    background-color: #FFF8F3;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
}

.about-info {
    display: flex;
    justify-content: space-around;
}

.info-card p {
    font-size: 20px;
    color: #757575;
    /* line-height: 30px; */
}

.info-card h4 {
    font-size: 20px;
    /* line-height: 30px; */
}

/* skill section */
#skill {
    padding: 130px;
}

#skill .skill-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.skill-box {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skill-card {
    background-color: #f0eeee;
    padding: 30px;
    max-width: 267px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.skil-card .img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skil-card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.skil-card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* resume section */
#resume {
    padding: 130px;
}

.resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.section-title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.resume-card {
    max-width: 511px;
    margin-right: 47px;

}

.resume-card h3 {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.resume-card h4 {
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
    margin-bottom: 20px;
}

.resume-card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

.education hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.Experience hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* footer section */
#footer {
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px;
}

.footer-container {
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    gap: 117px;
}

.social {
    max-width: 562px;
}

.social h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.social p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
    color: #474747;
}

.icons a {
    margin-right: 24px;
}

.form h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 28px;
}

.form input[type="text"] {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: none;
    color: #757575;
}

.form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: none;
    color: #757575;
}